@use "../variables";
/* Start:: authentication */
.authentication {
  min-height: 100vh;
  .authentication-brand {
    &.desktop-dark {
      display: block;
    }
  }
  .form-control {
    padding-inline-end: 2.5rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .swiper-pagination-bullet {
    opacity: 0.1;
  }
  .swiper-pagination-bullet-active {
    opacity: 0.5;
  }
  .google-svg {
    width: 0.75rem;
    height: 0.75rem;
    margin-inline-end: 0.5rem;
  }
  .authentication-barrier {
    position: relative;
    span {
      position: relative;
      z-index: 2;
    }
    &:before {
      position: absolute;
      content: "";
      width: 45%;
      height: 1px;
      background-color: variables.$default-border;
      border-radius: 50%;
      inset-inline-end: 0;
      inset-block-start: 12px;
      z-index: 1;
    }
    &:after {
      position: absolute;
      content: "";
      width: 45%;
      height: 1px;
      background-color: variables.$default-border;
      border-radius: 50%;
      inset-inline-start: 0;
      inset-block-start: 12px;
      z-index: 1;
    }
  }
  &.coming-soon,
  &.under-maintenance {
    .authentication-cover {
      background-image: none;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      &:before,
      &:after {
        display: none;
      }
      .aunthentication-cover-content {
        width: 100%;
        height: 100%;
        padding: 3rem;
        backdrop-filter: none;
        &:before,
        &:after {
          display: none;
        }
        .coming-soon-time,
        .under-maintenance-time {
          border: 2px dashed rgba(var(--primary-rgb),0.2);
        }
        .authentication-brand {
          width: auto;
          height: 2rem !important;
          border: 0;
        }
      }
    }
  }
  .coming-soom-image-container,
  .under-maintenance-image-container {
    img {
      width: 100%;
      height: auto;
    }
  }
  .authentication-cover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(var(--primary-rgb), 0.75);
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      inset-inline-start: 0;
      inset-inline-end: 0;
      inset-block-start: 0;
      inset-block-end: 0;
      background-image: url(../images/media/media-82.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
    }
    .aunthentication-cover-content {
      width: 75%;
      height: 20rem;
      padding: 2rem;
      position: relative;
      img {
        height: 450px !important;
      }
    }
  }
  &.authentication-basic {
    .desktop-dark {
      display: none;
    }
  }
  .form-control-lg {
    &#one,
    &#two,
    &#three,
    &#four {
      padding-inline: 0;
    }
  }
}
@media (min-width: 992px) {
  .aunthentication-cover-content {
    border-radius: 0.3rem;
  }
}
[data-theme-mode="dark"] {
  .authentication {
    &.authentication-basic {
      .desktop-white {
        display: block;
      }
      .desktop-logo {
        display: none;
      }
    }
    .authentication-brand {
      &.desktop-white {
        display: block;
      }
    }
    &.authentication-cover {
      &.desktop-white {
        display: block;
      }
    }
  }
}
.authentication {
  .desktop-logo,
  .desktop-white {
    height: 1.75rem !important;
    line-height: 1.75rem;
  }
  &.authentication-basic {
    .desktop-white {
      display: none;
    }
  }
}

/* Start:: coming soon */
.authentication.coming-soon {
  .form-control {
    padding-inline-end: 1rem;
  }
}
.coming-soon-main {
  position: relative;
  background: linear-gradient(to bottom right, var(--primary-color), #000000);
  box-shadow: none;
  z-index: 1;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/media/backgrounds/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
  }
}
.footer.authentication-footer {
  background-color: transparent;
  box-shadow: none;
  z-index: 100;
  padding-inline-start: 0;
}

.anim, .anim svg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.anim path {
  stroke-width: 1;
}
/* End:: coming soon */

.show-password-button {
  position: absolute;
  padding: 0.5rem 0.35rem;
  inset-block-start: 0px;
  inset-inline-end: 4px;
  i {
    line-height: 1;
  }
}
.authentication.authentication-cover-main {
  .show-password-button {
    padding: 0.65rem;
  }
}
.authentication {
  a.other-links {
    padding: 0.375rem 0.75rem;
    border: 1px solid variables.$input-border;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.07);
    line-height: 1.7;
    border-radius: 0.25rem;
  }
  input.form-control {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.07);
    font-weight: 500;
  }
}
.authentication-background {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/media/backgrounds/2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.5;
  }
}
.authentication-cover-image {
  border-radius: 50%;
}
.authentication-cover-icon {
  background-color: rgba(255,255,255,0.2) !important;
  color: variables.$white !important;
  border: 0 !important;
  &:hover,&:active,&:focus {
    background-color: rgba(255,255,255,0.2) !important;
    color: variables.$white !important;
    border: 0 !important;
  }
}
.authentication.two-step-verification .form-control {
  padding-inline-end: 0.75rem;
} 
.authentication-cover {
  .authentication-cover-logo {
    position: absolute;
    top: 30px;
    inset-inline-end: 30px;
  }
}
/* End:: authentication */