@forward '../public/assets/css/styles.css';
@forward '../public/assets/css/icons.css';

//*** PLUGINS CSS IMPORTS ***//
@forward '../node_modules/simplebar-react/dist/simplebar.min.css';
@forward '../node_modules/react-datepicker/dist/react-datepicker.css';
@forward '../node_modules/yet-another-react-lightbox/dist/styles.css';
@forward '../node_modules/yet-another-react-lightbox/dist/plugins/thumbnails/thumbnails.css';
@forward '../node_modules/swiper/swiper-bundle.css';
@forward "../node_modules/filepond/dist/filepond.min.css"; //file pond css
@forward "../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"; //dependencies plugin css for react file pond package
@forward '../node_modules/react-phone-number-input/style.css';
@forward '../node_modules/react-country-state-city/dist/react-country-state-city.css';
@forward '../node_modules/shepherd.js/dist/css/shepherd.css';
@forward '../node_modules/gridjs/dist/theme/mermaid.css';
@forward '../node_modules/react-data-table-component-extensions/dist/index.css';
@forward '../node_modules/leaflet/dist/leaflet.css';
@forward "../node_modules/plyr-react/plyr.css";
@forward "../node_modules/@yaireo/tagify/dist/tagify.css";
@forward "../node_modules/react-listbox/dist/react-listbox.css";
@forward "../node_modules/react-range-slider-input/dist/style.css";
@forward "../node_modules/suneditor/dist/css/suneditor.min.css";


